:root {
    --background-dark: #d4d1d1;
    --black: #000;
    --footerbg:#374151
  }
  
  html {
    background-color: var(--background-dark);
    color: var(--black);
    height: 100%;
  }
  
  * {
    font-family: "Lato", sans-serif;
  }
  
  .header {
    text-align: center;
    margin-top: 100px;
  }
  
  .container {
    width: 50%;
    margin: auto;
  }
  
  label,
  input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  input {
    border-radius: 5px;
    padding: 0.5rem;
    border: transparent;
    font-size: large;
    margin: 1rem 0;
  }
  
  #calculate-number {
    margin: 0.5rem auto;
    display: block;
  }
  
  #calculate-number {
    background-color: var(--footerbg);
    border: 2px solid var(--black);
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    font-size: bold;
    cursor: pointer;
    outline: var(--black);
    margin: auto;
    display: block;
  }
  
  #output-container {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: x-large;
    border-color: var(--black);
    border-width: medium;
    border-radius: 5px;
  }
  
  /* footer */
  
  footer {
    background-color: #374151;
    text-align: center;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  footer p {
    color: white;
    font-size: large;
    text-align: center;
  }
  
  .footer-list {
    margin: 1rem;
  }
  
  a,
  img,
  li {
    display: inline;
    margin: auto;
    align-items: center;
  }
  
  img {
    width: 60px;
    padding: 0.5rem;
  }